@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');


.heroSection{
    width: 100vw;
    height: max-content;
}

.heroContent{
    width: 100%;
    height: 100%;
}

.heroHeaderNameDiv{
    margin: 0;
    display: flex;
    justify-content: center;
}

.heroHeaderName{
    margin: 0;
    color: white;
    font-size: 22em;
    font-family: 'Hind', sans-serif;
}

.heroHeaderDescWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.heroHeaderDescDiv{
    margin: 0;
    width: 85%;
}

.marqueeText{
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: 4em;
    margin-right: 3em;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {

  
    /* Additional responsive styles for tablets */
  }
  
  /* Styles for screens with a maximum width of 480px (e.g., mobile phones) */


  @media screen and (max-width: 480px) {
    .homeSection{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .heroSection{
        width: 80%;
    }
    .heroHeaderName{
        text-align: center;
        font-size: 5em;
        margin: 0;
    }

    .heroHeaderDescWrapper{
      
    }


    .marqueeText{
        font-size: 1em;
        margin-right: 0.5em;
    }
}

/* Tablets in portrait mode */
@media (min-width: 600px) and (max-width: 767px) {
    .heroHeaderName{
        text-align: center;
        font-size: 5em;
        margin: 0;
    }
}
  
  /* Tablets in landscape mode */
  @media (min-width: 768px) and (max-width: 1024px) {
    .heroHeaderName{
        text-align: center;
        font-size: 15em;
        margin: 0;
    }
  }
  