@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');


.vibeZoneContainer{
    height: max-content;
    width: 100vw;
}

.vibeZoneContent{
    height: max-content;
    margin-bottom: 6em;
}

.vibeZoneHeader{
    height: max-content;
    display: flex;
    justify-content: center;
}

.vibeZoneHeaderText{
    color: transparent;
    font-size: 21.5em;
    font-family: 'Hind', sans-serif;
    background: url('/artImg3.jpg');
    background-position: bottom;
    background-clip: text;
    margin: 0;
}

.vibeZoneBody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.vibeZoneBodyContent{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.vibeZoneinfoDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.vibeZoneinfoDiv > h2 {
    color: white;
    font-family: 'Hind', sans-serif;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.vibeZoneinfoDiv > p {
    color: white;
    font-family: 'Hind', sans-serif;
    margin-left: 1em;
    text-align: center;
}

.vibeZonepictureDiv{
    width: 100;
    display: flex;
    justify-content: center;
}

.vibeZonepictureContent{
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.vibeZoneimageStyle{
    width: 46%;
    border-radius: 10px;
}
